* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
h1 {
  text-transform: uppercase;
  color: #2C3639;
}
h3 {
  margin-bottom: 20px;
  border-bottom: 2px solid #3F4E4F;
  color: #3F4E4F;
}
p {
  padding-bottom: 10px;
}
.App {
  text-align: center;
  padding: 20px 0;

  .lds-dual-ring {
    display: inline-block;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #4E6C50;
    border-color: #4E6C50 transparent #4E6C50 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .register-form {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }
    input {
      outline: none;
      display: inline-block;
      height: 34px;
      bottom: 14px;
      right: 9px;
      border-radius: 20px;
      width: 400px;
      box-sizing: border-box;
      padding: 0 18px;
      margin: 20px 0 5px;
    }
  }

  @media (max-width: 900px) {
    .register-form {
      input {
        width: 300px;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    span {
      height: fit-content;
    }
    .loadingText {
      margin-top: 100px;
    }
  }

  .button {
    margin-top: 20px;
    background: #009879;
    color: #fff;
    top: 25px;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    &:disabled {
      background-color: #72aca0bd;
    }
    &:hover{
      background: #48b09b;
    }
  }

  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 20px auto;
  }

  .card {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    gap: 20px;
    .card-buttons {
      // padding: 10px;
      height: fit-content;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      font-size: 20px;
      .delete-button {
        color: #980000b7;
      }
      .edit-button {
        color: #005698b7;
      }
      .save-button{
        color: #379237;
      }
      span{
        padding: 10px 10px 10px 5px;
      }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
    }
    [contenteditable]:focus {
      outline: 0px solid transparent;
  }
  }
}
